@model IEnumerable<TaCoMoLoCo_Express.Model.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de pedidos por entregar</h1>



<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <p>Codigo: @Html.DisplayFor(modelItem => item.Codigo)</p>
            <p>Cedula Cliente: @Html.DisplayFor(modelItem => item.CedulaCliente)</p>
            <p>Id Restaurante: @Html.DisplayFor(modelItem => item.IdRestaurante)</p>
            <p>Codigo Cupon: @Html.DisplayFor(modelItem => item.CodigoCupon)</p>
            <p>Fecha de Pedido: @Html.DisplayFor(modelItem => item.FechaPedido)</p>
            <p>Importe Total: @Html.DisplayFor(modelItem => item.ImporteTotal)</p>
            <a asp-action="AsignacionDeRepartidor" asp-route-idPedidoAEnviar="@item.Codigo" class="btn btn-primary">Asignar a Repartidor</a>

        </div>
    }
</div>

<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex: 1 0 calc(33.33% - 20px); 
        max-width: calc(33.33% - 20px); 
    }

    .btn {
        display: inline-block;
        margin-top: 10px;
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }
</style>
