@model IEnumerable<TaCoMoLoCo_Express.Model.Restaurante>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de restaurantes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comision)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comision)
            </td>
            <td>
                
                    @Html.ActionLink("Seleccionar", "Index", "MenuPlatos", new { id = item.Id }, null)

            </td>
        </tr>
}
    </tbody>
</table>
